/* Body  */
body {
    height: 100vh;
}

.first-half-color {
    height: 50vh;
    width: 100%;
    background-color: #FFC2D1;
    position: absolute;
    z-index: -1;
    top: 60px; 
}

.second-half-color {
    height: 50vh;
    width: 100%;
    background-color: #FB6F92;
    position: absolute;
    z-index: -1;
    bottom: 0px;
}

.main-container {
    background-color: white;
    width: 600px;
}

/* Navbar  */

.navbar {
    background-color: #FFE5EC;
    height: 60px;
}

.container-fluid {
    width: 1200px;
    margin: 0px auto;
}

.collapse {
    display: flex;
    justify-content: space-between;
}

/* Header  */
header {
    text-align: center;
}

/* Main  */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.display-compatibility-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compatibility-section-img {
    width: 10%;
    height: 10%;
    object-fit: contain;
   
}

.compatibility-score {
    background-color: rgb(237, 237, 237);
    border-radius: 6px;
}

.compatibility-score span {
    font-size: 4rem;
}

.compatibility-score-container {

    visibility: collapse;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.compatibility-score-container p {
    text-align: center;
    line-height: 19px;
}

.user-input {
   gap: 0.8rem;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.fa-rotate-left {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.user-and-crush-input-container {
    gap: 1rem;
    display: flex;
    justify-content: center;
}

.user-input-container {
    border-right: 3px solid rgba(24, 24, 24, 0.623); 
    padding-right: 15px;
}

.user-input-container, .crush-input-container {
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.user-input-container label, .crush-input-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-input-container input, .crush-input-container input {
    text-align: center;
    border: 1px solid rgb(103, 103, 103);
    border-radius: 4px;
}

#calculate-btn {
    border: none;
    background-color: red;
    color: white;
    text-align: center;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 1rem;
    margin-top: 4px;
}


@media screen and (max-width: 767px) {
    /* Header  */
    .collapse {
        justify-content: flex-start;
    }
}
/* Results page */ 
.fa-rotate-center {
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.send-crush-input-container {
    gap: 1rem;
    display: flex;
    justify-content: center;
}

.send-input-container {
    border-right: 3px solid rgba(24, 24, 24, 0.623); 
    padding-right: 15px;
}

.user-input-container, .crush-input-container {
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.user-input-container label, .crush-input-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-input-container input, .crush-input-container input {
    text-align: center;
}

#send-btn {
    border: none;
    background-color: red;
    color: white;
    text-align: center;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 1rem;
    margin-top: 4px;
}